@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap");
@import "_colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
  background-color: var(--branco);
}

body {
  // font-family: 'Montserrat', sans-serif;
  font-family: "Poppins", sans-serif;
}

.main {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @media (max-width: 1034px) {
      background-image: url(../img/bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (max-width: 537px) {
      background: none;
      background-color: var(--branco);
    }
  }
}

img {
  width: 100%;
  height: auto;
}

span {
  color: red;
  font-size: 1.1rem;
  margin: 0 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #ad937254;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  width: 50px;
  background-color: #ad937250;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474544cc;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
