.todo {
  &__container {
    background-image: url(../../img/bg__todo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    position: relative;

    @media (max-width: 550px) {
      padding: 1.5rem;
    }
  }

  &__line {
    border-radius: 50px;
    height: 3px;
    width: 100%;
    background-color: #ffffffc9;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.219);
  }

  // LOGOUT

  &__signOut {
    @media (max-width: 550px) {
      display: none;
    }
    button {
      color: var(--branco);
      border: none;
      background: none;
      font-size: 1.8rem;
      position: absolute;
      top: 30px;
      right: 50px;
      cursor: pointer;
    }

    button:hover {
      color: black;
    }
  }

  // CREATE TODO BOX
  &__createBlock {
    z-index: 2;
    top: 190px;
    transition: 0.4s;
    position: absolute;
    backdrop-filter: blur(15px) saturate(90%);
    transition: 0.4s;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: #ad9372d7;
    padding: 2rem 3rem 3rem 3rem;
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
    align-items: center;

    @media (max-width: 550px) {
      top: 250px;
      width: 90%;
    }

    .teste {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    input {
      width: 75%;
      letter-spacing: 1px;
      font-size: 1.8rem;
      color: rgb(255, 255, 255);
      font-family: "Poppins", sans-serif;
      padding: 1.2rem 2rem;
      border-radius: 20px;
      background: none;
      outline: none;
      border: none;
      box-shadow: 0px 3px 0px rgb(255, 255, 255);
    }

    input::placeholder {
      letter-spacing: 1px;
      font-size: 1.8rem;
      color: rgb(253, 252, 252);
      font-family: "Poppins", sans-serif;
    }

    button {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer;
      outline: none;
      box-shadow: 1px 2px 4px black;
      background-color: #26373e;
    }
  }

  // TODO BOX
  &__wrapper {
    backdrop-filter: blur(15px) saturate(90%);
    -webkit-backdrop-filter: blur(15px) saturate(90%);
    background-color: #a9b3b496;
    border-radius: 12px;
    padding: 3rem;
    box-shadow: 1px 2px 4px black;
    transition: 0.4s;

    @media (max-width: 550px) {
      width: 100%;
      padding: 1.5rem;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__header {
    color: #2a343a;
    margin-bottom: 1rem;

    h1 {
      font-size: 3.5rem;
      margin-bottom: 4rem;

      @media (max-width: 550px) {
        font-size: 3rem;
      }

      @media (max-width: 462px) {
        font-size: 2.2rem;
      }
    }

    h2 {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @media (max-width: 550px) {
      max-height: 75%;
      overflow: scroll;
      margin-bottom: 1;
    }

    &__filds {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ad9372;
      padding: 0.8rem 1.5rem;
      border-radius: 10px;
      transition: 0.5s;
      margin-bottom: 1.5rem;
      box-shadow: 1px 2px 4px black;

      @media (max-width: 550px) {
        width: 97%;
        margin: 0.5rem auto;
        cursor: row-resize;
      }
    }

    &__fild {
      display: flex;
      align-items: center;
      cursor: pointer;

      :hover {
        opacity: 0.8;
      }
    }

    &__checkbox {
      margin-right: 1.5rem;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      background-color: #d8d7d5;
      transition: 0.4s;
      box-shadow: 0px 0.3px 4px black;

      &--active {
        background-color: #26373e;
        // background-image: linear-gradient(to bottom, #ad9372, #26373E);
      }
    }

    &__text {
      letter-spacing: 0.5px;
      font-size: 1.8rem;
      color: rgb(233, 233, 233);
      font-family: "Poppins", sans-serif;
      transition: 0.4s;

      @media (max-width: 550px) {
        font-size: 1.5rem;
      }

      &--active {
        text-decoration: line-through;
        color: #26373e;
      }
    }

    &__delete {
      cursor: pointer;
      width: 20px;
      height: 20px;

      :hover {
        opacity: 0.8;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (max-width: 550px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__new {
      display: flex;
      background-color: #23382500;
      box-shadow: 0.5px 0.5px 4px black;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 20px;
      padding: 1rem;
      align-self: flex-end;

      img {
        width: 15px;
        height: auto;
      }
    }

    &__back {
      display: none;

      @media (max-width: 550px) {
        order: -1;
        display: block;
        padding: 0.4rem;

        img {
          width: 25px;
          height: auto;
        }
      }
    }
  }
}
